<a href="https://colab.research.google.com/github/ViktoriaZaremba/DataScienceCourseKNU/blob/main/lab3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Лабораторна робота №3**

В лабораторній роботі необхідно написати наступні функції на мові R та вивести результат роботи цих функцій на довільних даних:

1. Функція add2(x, y), яка повертає суму двох чисел.

In [2]:
func_sum <- function(a, b){
  return(a+b)
}

In [3]:
func_sum(2,8)

[1] 10

2. Функція above(x, n), яка приймає вектор та число n, та повертає всі елементі вектору, які більше n. По замовчуванню n = 10.

In [5]:
above <- function(x, n=10){
  return(x[x>n])
}

In [6]:
above(c(1,2,3,4,5,6,7), 4)

[1] 5 6 7

In [7]:
above(c(5,6,10,15,30))

[1] 15 30

3. Функція my_ifelse(x, exp, n), яка приймає вектор x, порівнює всі його елементи за допомогою exp з n, та повертає елементи вектору, які відповідають умові expression. Наприклад, my_ifelse(x, “>”, 0) повертає всі елементи x, які більші 0. Exp може дорівнювати “<”, “>”, “<=”, “>=”, “==”. Якщо exp не співпадає ні з одним з цих виразів, повертається вектор x.

In [17]:
my_ifelse = function(x, exp, n){
  if (exp == "<"){
    return(x[x<n])
  } else if (exp == ">"){
    return(x[x>n])
  } else if (exp == "<="){
    return(x[x<=n])
  } else if (exp == ">="){
    return(x[x>=n])
  } else if (exp == "=="){
    return(x[x==n])
  } else{
    return(x)
  }
}

In [19]:
x = c(1,2,3,4,5,5,6,7,8,9)

In [20]:
my_ifelse(x, "<", 5)

[1] 1 2 3 4

In [21]:
my_ifelse(x, ">", 5)

[1] 6 7 8 9

In [22]:
my_ifelse(x, "<=", 5)

[1] 1 2 3 4 5 5

In [23]:
my_ifelse(x, ">=", 5)

[1] 5 5 6 7 8 9

In [24]:
my_ifelse(x, "==", 5)

[1] 5 5

In [25]:
my_ifelse(x, "?", 5)

 [1] 1 2 3 4 5 5 6 7 8 9

4. Функція columnmean(x, removeNA), яка розраховує середнє значення (mean) по кожному стовпцю матриці, або data frame. Логічний параметр removeNA вказує, чи видаляти NA значення. По замовчуванню він
дорівнює TRUE.

In [78]:
columnmean <- function(x, removeNA=TRUE){
  for (i in 1:ncol(x)){
    print(paste('col#', i))
    print(mean(x[,i], na.rm=removeNA))
    }
}

In [79]:
my_matrix <- matrix(c(1,2,3,NA,5,6,NA,8,9,10,11,12), nrow = 4, ncol = 3)
my_matrix

     [,1] [,2] [,3]
[1,]  1    5    9
[2,]  2    6   10
[3,]  3   NA   11
[4,] NA    8   12

In [80]:
columnmean(my_matrix)

[1] "col# 1"
[1] 2
[1] "col# 2"
[1] 6.333333
[1] "col# 3"
[1] 10.5

In [81]:
columnmean(my_matrix, FALSE)

[1] "col# 1"
[1] NA
[1] "col# 2"
[1] NA
[1] "col# 3"
[1] 10.5

In [82]:
df = as.data.frame(my_matrix)
df

  V1 V2 V3
1  1  5  9
2  2  6 10
3  3 NA 11
4 NA  8 12

In [84]:
columnmean(df)

[1] "col# 1"
[1] 2
[1] "col# 2"
[1] 6.333333
[1] "col# 3"
[1] 10.5

In [85]:
columnmean(df, FALSE)

[1] "col# 1"
[1] NA
[1] "col# 2"
[1] NA
[1] "col# 3"
[1] 10.5